@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    body {
        @apply font-[sans-serif];
    }

    ::-webkit-scrollbar {
        @apply w-2.5 h-2.5;
    }

    ::-webkit-scrollbar-track {
        @apply bg-gray-200;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-fuchsia-600;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-fuchsia-700;
    }

    textarea, input:focus {
        @apply focus:outline-none;
    }

    .ul-padding{
        padding-inline-start: 0.9rem;
    }

    .ul-padding-none{
        padding-inline-start: 0;
    }
}

@layer components{
    .pi{
        @apply p-3 mb-3 text-gray-800 bg-white rounded-lg border border-gray-200 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200 text-sm;
    }

    .profileInput{
        @apply pi file:border-0 file:bg-blue-600 file:text-white file:rounded-md file:px-3 file:py-2 file:mr-3 file:cursor-pointer hover:file:bg-blue-700;
    }

    .flex-col-gap-2{
        @apply flex flex-col gap-3;
    }

    .flex-wrap-gap-2{
        @apply flex flex-wrap gap-3;
    }

    .other-input{
        @apply p-3 mb-3 text-gray-800 bg-white rounded-lg border border-gray-200 shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 focus:placeholder-transparent transition-all duration-200 text-sm;
    }

    .input-title{
        @apply text-lg text-gray-800 font-semibold mb-3 flex items-center justify-between;
    }

    .f-col{
        @apply flex flex-col;
    }

    .grid-4{
        @apply grid grid-cols-1 md:grid-cols-2 gap-3;
    }

    .editable{
        @apply hover:bg-gray-100 hover:cursor-text outline-none;
    }

}

.name{
    font-size: 20px;
    font-weight: 700;
}

.profession{
    font-size: 16px;
    font-weight: 500;
}

.contact{
    font-size: 14px;
    font-weight: 400;
}

.social-media{
    font-size: 12px;
    font-weight: 400;
}

.section-title{
    font-size: 16px;
    font-weight: 700;
}

.content{
    font-size: 14px;
    font-weight: 400;
}

.sub-content{
    font-size: 12px;
    font-weight: 400;
}

.i-bold{
    font-weight: 700 !important;
}

@media print {
    .exclude-print {
        display: none;
    }

    .rm-padding-print {
        padding: 0;
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    .preview {
        overflow-y: visible !important;
    }

    .preview::after {
        content: "Created using https://atsresume.vercel.app/";
        position: fixed;
        bottom: 0;
        right: 0;
        opacity: 0.2;
        font-size: small;
        text-align: center;
        z-index: -1;
    }
}